.page-error404 {
  margin: 0 auto;
  width: 1200px;
  background-image: url(../../asset/icons/error404.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  &__text {
    display: flex;
    justify-content: center;
    font-size: 37px;
    margin: 10px auto;
    color: #d85829;
  }
}
