.forms-bar {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 500px;
  border: thick double #32a1ce;
}
.form-add-house {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}
.forms-title {
  display: flex;
  justify-content: center;
  color: #32a1ce;
}
.item-form {
  margin: 5px;
}
.error-text {
  color: red;
}


.train{
  font-weight: bold;
  font-size: 18px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase
}

.slider:after{
  content: attr(data-on);
  left: 15px;
  color: #fff;
  opacity: 0;
}
.slider:before{
  content: attr(data-off);
  right: 15px;
  color: #fff;
}
.switch {
  position: relative;
  width: 115px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0px;
  height: 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(81px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.salesman-person{
  position: absolute;
  left: 32px;
  font-size: 12px;
}
